
<h2> All about {{person.name}}</h2> 

 

<h3>Name {{person.name}}</h3> 

 

{{#if person.dob}} 

<h3>Date of Birth {{person.dob}}</h3> 

{{/if}} 

<img id="img" src={{person.imageurl}} alt="photo of the person">

<ul>
  {{#each person.hog}}
    <li>{{this}}</li>
  {{/each}}
</ul>
<a href='{{person.name}}/edit'>
<button type="button" class="btn btn-primary">Edit</button></a>

<a href='/family/{{person.name}}/delete'
 onclick="return confirm('are you sure you want to delete this person?');">
<button type="button" class="btn btn-danger">Delete</button> </a>



<form method="POST">

    <div class="form-group">
        <label for='firstname'>First Name</label>
        <input type=text id='firstname' name='name' class='form-control' value={{person.name}} >
    </div>
    <div class="form-group">
        <label for='dob'>Date of Birth</label>
        <input type=text id='dob' name='dob' class='form-control' value={{person.dob}} >
    </div>
    <div class="form-group">
        <label for='imageurl'>Photo</label>
        <input type=text id='imageurl' name='imageurl' class='form-control' value={{person.imageurl}} >
    </div>


{{!-- This hidden element lets us use the document id --}}
    <input type="hidden" id="id" name="_id" value="{{person._id}}" />
    <button type=submit class="btn btn-primary">Save Changes</button>

	      <a href='/family/{{person.name}}'><button type=button class="btn btn-outline-danger">Cancel</button>
      </a> 
    </div>

</form>


